@use 'theme/colors';
@use 'theme/typography';

$menuBreakpoint: 839px;

.mat-sidenav-container {
  flex-grow: 1;
  background-color: inherit;
  color: inherit;
}

.mat-sidenav {
  padding: 12px;
  width: 360px;
  border: none;
  background-color: colors.surface();
  color: colors.on-surface-variant();
  @media (max-width: $menuBreakpoint){
    width: 80px;
  }
}

.mat-icon{
  @media (max-width: $menuBreakpoint){
    margin-bottom: 4px;
  }
}

.mdc-list-item{
  @media (max-width: $menuBreakpoint){
    padding-left: 0;
    padding-right: 0;
  }
}

.mat-mdc-list-item {
  height: 56px !important;
  padding-inline: 16px 24px !important;
  border-radius: 28px;

  @media (max-width: $menuBreakpoint){
    padding-inline: 16px !important;
  }

  .mat-mdc-list-item-unscoped-content {
    @include typography.label-large;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    color: inherit;
    @media (max-width: $menuBreakpoint){
      /*@include typography.label-medium;
      display: flex;
      flex-direction: column;
      gap: 0px;*/
    }
  }

  &.mat-mdc-list-item-active {
    background-color: colors.secondary-container();
    color: colors.on-secondary-container();
    --symbol-fill: 1;
  }

  &.mat-mdc-list-item-interactive::before {
    background-color: currentColor;
  }

  &.mat-mdc-list-item-interactive:not(:focus):not(.mdc-list-item--disabled):hover::before {
    opacity: .08;
  }
}
